:root {
  --blue: #4093ff; // or any global you wish to share with components
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

app-root {
  min-width: 70%;
  min-height: 70%;
}

a {
  padding: 7px 20px;
  cursor: pointer;
  margin: 10px;
  border: 1px solid var(--blue);
  color: var(--blue);
  text-decoration: none;
  border-radius: 7px;
}
